html {
    font-family: 'Roboto', 'arial';
}

.displayNone {
    display: none;
}
.displayFlex {
    display: flex;
}

nav {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--black);
}
    /* tablet and desktop no display */
    nav .nav__container-main-tablet {
        display: none;
    }
    nav .nav__container-main-desktop {
        display: none;
    }
    /*              end               */


    nav .nav__container-main-cellphone {
        display: flex;
        height: 20px;
        width: 90vw;
        margin: 10px auto;
        justify-content: space-between;
    }

        nav .nav__logo-small a img {
            display: inline-block;
            height: 20px;
        }

        nav .nav__menu-icon img {
            display: inline-block;
            height: 20px;
        }

        /* Main */

/*         Menu displayed (by touching menu-icon)                 */
main .main__menu-displayed {
    height: 80vh;
    width: 80vw;
    position:absolute;
    right: 0;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
}
    /* Contain p, input and icon-search */
    .main__menu-displayed .search {
        margin-left: calc(50% - 95px);
    }
        .search p {
            margin-bottom: 5px;
            text-align: center;
        }

    .container-input-icon {
        display: flex;
        height: 20px;
        background: white;
        border-radius: 5px 5px 5px 5px;
    }
        .container-input-icon input{
            padding-left: 2px;
            border-radius: 5px 5px 5px 5px;
        }
        .container-input-icon .search-icon img{
            width: 20px;
            height: 15px;
            padding-top: 2.5px;
        }

    .main__menu-displayed a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .close-menu-icon {
        max-height: 23px;
        margin: 0 auto;
    }
        .close-menu-icon img{
            display: inline-block;
            height: 20px;
            width: 20px;
        }
    
main .main__head-info {
    display: flex;
    width: 100%;
    min-height: 240px;
}
    .first {
        width: 100%;
        text-align: center;
        background-color: black;
        color: var(--white);
        z-index: -10;
    }
    .first .first__background-world {
        display:block;
        width: 100%;
        min-height: 190px;
        margin-top: 25px;
        position: absolute;
        background-image: url('../assets/img/map_image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        z-index: -1;
    }

    .first h1 {
        margin-top: 5px;
        font-size: 2rem;
    }
    .first h2 {
        margin-top: 160px;
        font-size: 1.2rem;
    }
    .first p {
        color: gray;
    }

.body__products-title {
    display: flex;
    width: 100%;
    min-height: 120px;
    background-color: var(--orange);
    color: var(--black);
}
    body .title-container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .body__products-title h2 {
        display: inline-block;
        width: 160px;
        height: 60px;
        text-align: right;
        margin-top: 30px;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 20px;
    }
    body .bottle-large-icon {
        display: inline-block;
        width: 25px;
        height: 80px;
        margin-top: 15px;
        margin-left: 10px;
        background-image: url("../assets/svg/bote.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body .bottle-small-icon {
        display: inline-block;
        width: 33px;
        height: 68px;
        margin-top: 26px;
        background-image: url("../assets/svg/bote-small.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body .box-small-icon {
        display: inline-block;
        width: 48px;
        height: 68px;
        margin-top: 26px;
        background-image: url("../assets/svg/box-small.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

body .body__products-stand {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

    body .product__background-gray {
        display: flex;
        flex-direction:column;
        text-align: center;
        flex-grow: 1;
        align-items: center;
        width: 135px;
        height: 200px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: var(--graylight);
    }
    body .product__background-orange {
        display: flex;
        width: 100%;
        height: 35px;
        background-color: var(--orange);
        margin-top: 138px;
    }
        .product__background-orange p {
            align-self: center;
            margin: 0 auto;
            font-size: 1rem;
            font-weight: 700;
        }
    body .product__background-black {
        display: flex;
        width: 100%;
        height: 27px;
        background-color: var(--black);
        border-radius: 0 0 10px 10px;
        color: var(--white);
    }
        .product__background-black p {
            align-self: center;
            margin: 0 auto;
            font-size: 1rem;
        }

    body .product__image-omniplus {
        display: inline-block;
        position: absolute;
        width: 125px;
        height: 125px;
        margin-top: 30px;
        background-image: url("../assets/img/products/omniplus_caja.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body .product__image-powermaker {
        display: inline-block;
        position: absolute;
        width: 120px;
        height: 120px;
        margin-top: 30px;
        margin-left: 5px;
        background-image: url("../assets/img/products/power_maker_caja_s.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body .product__image-thermogenlimon {
        display: inline-block;
        position: absolute;
        width: 120px;
        height: 120px;
        margin-top: 26px;
        margin-left: 5px;
        background-image: url("../assets/img/products/thermogen_limon_caja_s.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body .product__image-fibersupreme {
        display: inline-block;
        position: absolute;
        width: 125px;
        height: 125px;
        margin-top: 25px;
        margin-left: 5px;
        background-image: url("../assets/img/products/fiber_caja_s.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

body .see-more {
    display: flex;
    width: 100px;
    height: 25px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: var(--orange);
}
    .see-more p {
        text-align: center;
        margin: 0 auto;
        padding-top: 3px;
        font-size: 1rem;
        font-weight: 700;
    }