
    body .body__products-stand--D {
        display: none;
    }

/* < MAIN /> */

.main__disclaimer {
    font-size: 1.5rem;
}

main .main__head-info {
    min-height: 500px;
    max-height: 500px;
}
    .first .first__background-world {
        min-height: 448px;
        margin-top: 10px;
    }
    .first h1 {
        margin-top: 5px;
        font-size: 4rem;
    }
    .first h2 {
        width: 600px;
        margin-top: 365px;
        font-size: 2.5rem;
    }
    .first p {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

/* Products */
body .body__products-title {
    min-height: 180px;
}
    .body__products-title h2 {
        width: 269px;
        font-size: 3rem;
        line-height: 28px;
        align-self: center;
    }
    body .bottle-large-icon {
        width: 40.5px;
        height: 130px;
        margin-top: 18px;
    }
    body .bottle-small-icon {
        width: 55px;
        height: 113px;
        margin-top: 32px;
    }
    body .box-small-icon {
        width: 80px;
        height: 113px;
        margin-top: 30px;
    }

body .body__products-stand--MT {
    max-width: 800px;
    gap: 0 20px;
}
    body .product__background-gray {
        min-width: 150px;
        margin-top: 20px;
    }
    body .product__see-more {
        display: flex;
        width: 160px;
        height: 50px;
        border-radius: 100px;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
    }
    .product__buy-like {
        width: 160px;
        height: 50px;
        font-size: 1.4rem;
    }

/* Certificates */
body .body__certificates-title {
    min-height: 180px;
}
    .certificates__title-container {
        width: 413px;
        height: 110px;
    }
        .certificates__title-container h2 {
            width: 270px;
            height: 110px;
            font-size: 3rem;
        }
        body .logo-std {
            width: 140px;
        }

body .certificates__details-container {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 0 20px;
}
    .certificates__details-container p {
        font-size: 1.8rem;
    }

/* Join us*/
body .body__join-us-title {
    height: 180px;
}
    body .join-us__title-container {
        font-size: 3rem;
        font-weight: 700;
    }
        .join-us__title-container p:nth-child(1) {
            margin-top: 30px;
        }
        .join-us__title-container p:nth-child(2) {
            color: var(--orange);
            font-size: 4rem;
            font-weight: 9900;
        }

    body .join-us__details {
        width: 650px;
        font-size: 1.5rem;
        flex-direction: row;
        gap: 30px
    }

        .join-us__image {
            display: flex;
            position: relative;
        }
        .join-us__details img {
            width: 260px;
            height: 234px;
            margin: 0 auto;
            justify-self: center;
            align-self: center;
        }
        .join-us__names {
            width: 130px;
            height: 45px;
            font-size: 1.5rem;
            margin-top: 185px;
        }

/*         Decisions        */
body .body__decisions .decisions__title {
    width: 420px;
}
    .decisions__title h2 {
        margin-top: 30px;
        font-size: 3rem;
        font-weight: 900;
    }
    .decisions__title p {
        font-size: 2rem;
        font-weight: 700;
    }

body .decisions__container {
    max-width: 800px;
    margin-top: 40px;
}
    .decisions__details p {
        font-size: 1.8rem;
    }
    .heart-icon {
        width: 80px;
        height: 80px;
    }
    .hand-coin-icon {
        width: 80px;
        height: 84px;
    }
    .apple-icon {
        width: 80px;
        height: 80px;
    }
    .airplane-icon {
        width: 80px;
        height: 80px;
    }

body .decisions__button-container {
    width: 650px;
}
    body .decisions__button-join {
        width: 200px;
        height: 60px;
        font-size: 2rem;
    }
    body .decisions__button-buy {
        width: 200px;
        height: 60px;
        font-size: 1.8rem;
    }