
/* Footer */
footer .footer__background {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
}
    .footer__container {
        display: flex;
        width: 80vw;
        justify-content: space-between;
    }
        .footer__text {
            display: flex;
            font-size: 2rem;
            font-weight: 700;
            flex-direction: column;
        }
            .footer__text a img {
                width: 131px;
                height: 39;
            }
            .footer__text p:nth-child(2) {
                font-size: 1.2rem;
                color: var(--graylight);
                font-weight: 400;
            }
            
        .foooter__media-icons {
            display: flex;
            width: 110px;
            justify-content: space-between;
            align-items: center;
            color: var(--black);
        }
            .facebook-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-image: url("../../assets/svg/facebook-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                filter: invert(100%);
            }
            .whatsapp-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-image: url("../../assets/svg/whatsapp-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                filter: invert(100%);
            }