/* Footer for Tablet*/
footer .footer__background {
    height: 80px;
}

    .footer__container {
        width: 90vw;
    }
        footer .footer__text {
            width: 200px;
            font-size: 2rem;
        }
            .footer__text p:nth-child(3) {
                font-size: 1.5rem;
                color: var(--graylight);
                font-weight: 400;
            }
        .foooter__media-icons {
            width: 200px;
        }
            .facebook-icon {
                width: 50px;
                height: 50px;
            }
            .whatsapp-icon {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-image: url("../../assets/svg/whatsapp-icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                filter: invert(100%);
            }