html {
    font-family: 'Roboto', 'arial';
}

/* < MAIN /> */ 
main {
    z-index: 800;
}

/* Main Disclaimer */
.main__disclaimer {
    min-height: 30px;
    width: 100%;
    padding: 5px 0;
    background-color: var(--orange);
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
    .main__disclaimer p {
        width: 80%;
    }

    @media only screen and (min-width: 529px) {
        .main__disclaimer { padding: 0;}
    }

    .main__disclaimer span {
        display:inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../../assets/svg/x-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }

    /* Filters bar */
    .main__filters {
        display: flex;
        width: 100%;
        height: 40px;
        background-color: var(--orange);
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
    }
        .main__filters__container {
            display: flex;
            width: 90%;
            height: 20px;
        }
            .main__filter {
                display: flex;
                height: 20px;
                padding: 0 10px;
                margin-right: 10px;
                background-color: var(--white);
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                white-space: nowrap;
            }

    /* List of products */
    .main_list_product {
        display: flex;
        width: 100%;
        background-color: var(--graylight);
    }
        .list_product__container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .container__product_individual {
            display: flex;
            width: 90%;
            margin-top: 15px;
            background-color: var(--white);
            flex-direction: column;
            box-shadow: 5px 5px 25px -20px var(--black);
        }
            .title_product {
                display: flex;
                width: 100%;
                height: 30px;
                border-radius: 5px 5px 0 0;
                background-color: var(--black);
                color: var(--white);
                font-size: 1.5rem;
                font-weight: 700;
                justify-content: center;
                align-items: center;
            }
            .content_product {
                display: flex;
                font-size: 1.2rem;
                
            }
                .product--img {
                    display: flex;
                    width: 40%;
                    justify-content: center;
                    align-items: center;
                }
                    .product__image-aloe-beta-a {
                        position: absolute;
                        width: 110px;
                        height: 110px;
                        margin-top: 15px;
                        margin-left: -65px;
                        background-image: url("../../assets/img/products/aloe_beta_anana_bote_900.png");
                    }
                    .product__image-aloe-beta-l {
                        position: absolute;
                        width: 110px;
                        height: 110px;
                        margin-top: 15px;
                        margin-left: 5px;
                        background-image: url("../../assets/img/products/aloe_beta_limon_bote_900.png");
                    }
                    .product__image-aloe-beta-200 {
                        position: absolute;
                        width: 80px;
                        height: 80px;
                        margin-top: 50px;
                        margin-left: 70px;
                        background-image: url("../../assets/img/products/aloe_beta_200.png");
                    }
                    .product__image-aqtua-s {
                        position: absolute;
                        width: 110px;
                        height: 110px;
                        margin-top: 15px;
                        margin-left: 5px;
                        background-image: url("../../assets/img/products/aqtua_caja_s.png");
                    }
                .product_details {
                    display: flex;
                    width: 60%;
                    flex-direction: column;
                    margin: 10px
                }
                .product_interesed-btn {
                    display: flex;
                    width: 100%;
                    height: 20px;
                    margin-top: 10px;
                    border-radius: 10px;
                    background-color: var(--orange);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                }