html {
    font-family: var(--font-principal);
}

/* CELLPHONE */

/* < MAIN /> */ 
main {
    z-index: 800;
}

/* Main Disclaimer */
.main__disclaimer {
    min-height: 30px;
    width: 100%;
    padding: 5px 0;
    background-color: var(--orange);
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
    .main__disclaimer p {
        width: 80%;
    }

    @media only screen and (min-width: 529px) {
        .main__disclaimer { padding: 0;}
    }

    .main__disclaimer span {
        display:inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../../assets/svg/x-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }
    

    /* Filters bar */
    .main__filters {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: var(--orange);
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
    }
    @media only screen and (min-width: 740px) {
        .main__filters { overflow-x: hidden;}
        .main__filters_container { justify-content: center;}
    }
        .main__filters_container {
            display: flex;
            width: 90%;
            height: 30px;
        }
            .main__filter {
                display: flex;
                height: 30px;
                padding: 0 15px;
                margin-right: 10px;
                /* background-color: var(--white);
                border: 1px solid var(--orange); */
                border-radius: 100px;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                white-space: nowrap;
                user-select: none;
            }


    /* List of products */
    .main_list_product {
        display: flex;
        width: 100%;
        background-color: var(--graylight);
    }
        .list_product__container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--graylight);
        }

        .container__product_individual {
            width: 90%;
            margin: 15px 0;
            border-radius: 10px 10px 10px 10px;
            background-color: var(--white);
            flex-direction: column;
            box-shadow: 10px 10px 20px -20px var(--black);
        }
            .title_product {
                display: flex;
                width: 100%;
                height: 30px;
                border-radius: 10px 10px 0 0;
                background-color: var(--black);
                color: var(--white);
                font-size: 1.5rem;
                font-weight: 700;
                justify-content: center;
                align-items: center;
            }
            .content_product {
                display: flex;
                font-size: 1.4rem;
                background-color: var(--white);
                border-radius: 0 0 10px 10px;
            }
                .product--img {
                    display: flex;
                    width: 40%;
                    justify-content: center;
                    align-items: center;
                }
                    .box-large {
                        position: absolute;
                        width: 110px;
                        height: 110px;
                    }
                    @media only screen and (min-width: 500px) {
                        .box-large {
                            width: 150px;
                            height: 150px;
                        }
                    }
                    .box-small {
                        position: absolute;
                        width: 130px;
                        height: 130px;
                    }
                    .bottle {
                        position: absolute;
                        width: 150px;
                        height: 150px;
                    }

                    /* ALOE BETA 200ML */
                    .product__image-aloe-beta-200 {
                        background-image: url("../../assets/img/products/aloe_beta_200.png");
                    }

                    /* ALOE BETA LIMON */
                    .product__image-aloe-beta-l {
                        background-image: url("../../assets/img/products/aloe_beta_limon_bote_900.png");
                    }
                    /* ALOE BETA ANANA */
                    .product__image-aloe-beta-a {
                        background-image: url("../../assets/img/products/aloe_beta_anana_bote_900.png");
                    }

                    /* AQTUA */
                    .product__image-aqtua-s {
                        background-image: url("../../assets/img/products/aqtua_caja_s.png");
                    }

                    /* BIOCROS BOTELLA */
                    .product__image-biocros--bottle {
                        background-image: url("../../assets/img/products/biocros_bote.png");
                    }

                    /* BIOCROS CAJA */
                    .product__image-biocros--box {
                        background-image: url("../../assets/img/products/biocros_caja.png");
                    }

                    /* BIOCROS SUPREME */
                    .product__image-biocros--box-s {
                        background-image: url("../../assets/img/products/biocros_caja_s.png");
                    }

                    /* CAFEZZINO PLUS */
                    .product__image-cafezzino-plus {
                        background-image: url("../../assets/img/products/cafezzino_caja_plus.png");
                    }

                    /* DOLCEVITA SUPREME */
                    .product__image-dolcevita {
                        background-image: url("../../assets/img/products/dolcevita_caja_s.png");
                    }
                    /* EGO FRUTAS X6 */
                    .product__image-egofruta {
                        background-image: url("../../assets/img/products/ego_frutas_lata.png");
                    }

                    /* EGO 10 */
                    .product__image-ego10 {
                        background-image: url("../../assets/img/products/ego_10.png");
                    }
                    
                    /* EGO HERBAL */
                    .product__image-ego-herbal {
                        background-image: url("../../assets/img/products/ego_herbal.png");
                    }
                    
                    /* EGO LIFE SUPREME */
                    .product__image-ego-life {
                        background-image: url("../../assets/img/products/ego_life_caja_s.png");
                    }
                    
                    /* ESTOP PLUS */
                    .product__image-estop-plus {
                        background-image: url("../../assets/img/products/estop_caja_plus.png");
                    }
                    
                    /* FEM PLUS */
                    .product__image-fem-plus {
                        background-image: url("../../assets/img/products/fem_caja_s.png");
                    }

                    /* FIBER SUPREME */
                    .product__image-fiber-s {
                        background-image: url("../../assets/img/products/fiber_caja_s.png");
                    }

                    /* FOCUS */
                    .product__image-focus-bottle {
                        background-image: url("../../assets/img/products/focus_bote.png");
                    }

                    /* FOCUS SUPREME */
                    .product__image-focus-box-s {
                        background-image: url("../../assets/img/products/focus_caja_s.png");
                    }

                    /* HOMO PLUS */
                    .product__image-homo-plus {
                        background-image: url("../../assets/img/products/homo_caja_plus.png");
                    }

                    /* OMNILIFE VKIDS */
                    .product__image-vkids {
                        background-image: url("../../assets/img/products/vkids.png");
                    }
                    
                    /* OMNILIFE SHAKE SUPREME */
                    .product__image-shake-s {
                        background-image: url("../../assets/img/products/shake_caja_s.png");
                    }
                    
                    /* OMNIOST SUPREME */
                    .product__image-omniost-s {
                        background-image: url("../../assets/img/products/omniost_caja_s.png");
                    }
                    
                    /* OMNIPLUS CAJA */
                    .product__image-omniplus--box {
                        background-image: url("../../assets/img/products/omniplus_caja.png");
                    }
                    
                    /* OMNIPLUS BOTELLA */
                    .product__image-omniplus--bottle {
                        background-image: url("../../assets/img/products/omniplus_bote.png");
                    }
                    
                    /* OMNIPLUS SUPREME */
                    .product__image-omniplus--box-s {
                        background-image: url("../../assets/img/products/omniplus_caja_s.png");
                    }
                    
                    /* OMNIVIU SUPREME */
                    .product__image-omniviu-s {
                        background-image: url("../../assets/img/products/omniviu_caja_s.png");
                    }
                    
                    /* ONE C MIX PLUS */
                    .product__image-onecmix-plus {
                        background-image: url("../../assets/img/products/one_c_mix_plus.png");
                    }
                    
                    /* POWER MAKER BOTELLA */
                    .product__image-power-maker-bottle {
                        background-image: url("../../assets/img/products/power_maker_bote.png");
                    }
                    
                    /* POWER MAKER SUPREME */
                    .product__image-power-maker-box-s {
                        background-image: url("../../assets/img/products/power_maker_caja_s.png");
                    }
                    
                    /* STARBIEN */
                    .product__image-starbien {
                        background-image: url("../../assets/img/products/starbien_caja.png");
                    }
                    
                    /* SUPER MIX CHOCOLATE */
                    .product__image-super-mix-chocolate {
                        background-image: url("../../assets/img/products/super-mix-chocolate.png");
                    }
                    
                    /* SUPER MIX SUPREME VAINILLA */
                    .product__image-super-mix-s {
                        background-image: url("../../assets/img/products/supermix_vainilla_caja_s.png");
                    }
                    
                    /* THERMOGEN COFFEE BOTELLA*/
                    .product__image-thermogen-coffee-bottle {
                        background-image: url("../../assets/img/products/thermogen_coffee_bote.png");
                    }
                    
                    /* THERMOGEN COFFEE CAJA*/
                    .product__image-thermogen-coffee-box {
                        background-image: url("../../assets/img/products/thermogen_coffee_caja.png");
                    }
                    
                    /* THERMOGEN TEA LIMON SUPREME */
                    .product__image-thermogen-limon {
                        background-image: url("../../assets/img/products/thermogen_limon_caja_s.png");
                    }
                    
                    /* THERMOGEN TEA MARACUYA SUPREME */
                    .product__image-thermogen-maracuya {
                        background-image: url("../../assets/img/products/thermogen_maracuya_caja_s.png");
                    }
                    
                    /* UZO SUPREME */
                    .product__image-uzo-s {
                        background-image: url("../../assets/img/products/uzo_caja_s.png");
                    }
                    

                .product_details {
                    display: flex;
                    width: 60%;
                    flex-direction: column;
                    margin: 10px
                }
                .product_interesed-btn {
                    display: flex;
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    border-radius: 10px;
                    border: 1px solid var(--orange);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-align: center;
                }
                .product_interesed-btn p {
                    width: 70%;
                }
                .product__buy-like {
                    display: flex;
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    border-radius: 10px;
                    border: 1px solid var(--orange);
                    background-color: var(--orange);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-align: center;
                }
                .product__buy-like p {
                    width: 80%;
                }